@font-face {
    font-family: 'BMS Humanity';
    src: url("../fonts/BMSHumanity-Regular.ttf");
    font-weight: 400;
    font-display: swap;
}

@font-face {
    font-family: 'BMS Humanity';
    src: url("../fonts/BMSHumanity-Bold.ttf");
    font-weight: 700;
    font-display: swap;
}

@font-face {
    font-family: 'BMS Humanity';
    src: url("../fonts/BMSHumanity-ExtraBold.otf");
    font-weight: 800;
    font-display: swap;
}


html {
    font-size: 62.5%;
}
p,
h1,
h2,
h3,
h4,
h5,
h6,
span,
a,
li,
label,
option,
th,
td,
tr,
em,
strong,
b,
div,
input,
input::placeholder,
::before,
::after {
    font-family: 'BMS Humanity', sans-serif;
    font-weight: 400;
}

h1,h2,h3,h4,h5,h6{
    font-weight: 700;
}