@use '../base/functions' as f;
@use '../base/mixin' as mix;

.lining{
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 100px;
    position: relative;
    article{
        &:nth-child(1){
            width: 50%;
            p{
                max-width: 550px;
            }
            h2{
                margin-bottom: 20px;
            }
            p{
                margin-bottom: 10px;
            }
        }
        &:nth-child(2){
            width: 50%;
            img{
                width: 100%;
            }
        }
    }
}

.lining__bg{
    position: relative;
    article{
        position: absolute;
        width: 100%;
        top: 0;
    }
    .lining__bg--left{
        position: absolute;
        left: 0;
        top: 0;
        width: 60%;
    }
    .lining__bg--right{
        position: absolute;
        top: 0;
        right: 0;
        width: 70%;
    }
}

@media(max-width: f.breakpoints('ipad-big')){
    .lining{
        flex-direction: column;
        gap: 30px;
        article{
            &:nth-child(1){
                width: 100%;
                p{
                    max-width: 100%;
                }
            }
            &:nth-child(2){
                width: 100%;
                max-width: 500px;
            }
        }
    }
}