@use '../base/variables' as v;
@use '../base/functions' as f;

main{
    margin-top: v.$header-height;
}
.container-limit{
    width: 90%;
    margin: 0 auto;
    max-width: v.$limit-width;
    padding-top: 80px;
}

@media(max-width: f.breakpoints('ipad-big')){
    .container-limit{
        padding-top: 50px;
    }
}