@use '../base/functions' as f;

.ctm-fonts{
    h1,h2,h3,h4,h5,h6,p{
        color: f.color('secondary');
        font-weight: 800;
        b{
            color: f.color('primary');
            font-weight: 800;
        }
    }
    p{
        font-size: 1.9rem;
        font-weight: 200;
        line-height: 1.4;
    }
    h2{
        font-size: 4.5rem;
    }
    h3{
        font-size: 3.5rem;
    }
    h4{
        font-size: 3rem;
    }
}

@media(max-width: f.breakpoints('desktop')){
    .ctm-fonts{
        h2{
            font-size: 4rem;
        }
        h3{
            font-size: 2.8rem;
        }
        h4{
            font-size: 2.5rem;
        }
        p{
            font-size: 1.8rem;
        }
    }
}

@media(max-width: f.breakpoints('ipad-small')){
    .ctm-fonts{
        h2{
            font-size: 3rem;
        }
        h3{
            font-size: 2.5rem;
        }
        h4{
            font-size: 2.25rem;
        }
        p{
            font-size: 1.7rem;
        }
    }
}